<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo">
    <%= link_to image_tag("icon.png", border: 0), admin_path, class: 'simple-text logo-mini' %>
    <%= link_to "Home", admin_path, class: "simple-text logo-normal" %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="<%= slide_active "admin" %>">
        <%= link_to admin_path do %>
          <i class="nc-icon nc-bank"></i>
          <p>Dashboard</p>
        <% end %>
      </li>
      <li class="<%= slide_active "users" %>">
        <%= link_to admin_users_path do %>
          <i class="nc-icon nc-single-02"></i>
          <p>User</p>
        <% end %>
      </li>
      <li class="<%= slide_active "category" %>">
        <%= link_to admin_path do %>
          <i class="nc-icon nc-box"></i>
          <p>Category</p>
        <% end %>
      </li>
      <li class="<%= slide_active "product" %>">
        <%= link_to admin_path do %>
          <i class="nc-icon nc-box-2"></i>
          <p>Product</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
