<% history_details.each_with_index do |d, i| %>
  <tr>
    <td>
      <%= i + 1 %>
    </td>
    <td>
      <%= d.created_at.getlocal.strftime("%H:%M:%S") %>
    </td>
    <td>
      <%= d.product.name %>
    </td>
    <td>
      <%= d.count %>
    </td>
    <td>
      <%= to_currency d.price %>
    </td>
    <td>
      <%= d.from ? User.find_by(id: d.from).name : "Tự nhập hàng" %>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan="3">
    TOTAL IN DAY
  </td>
  <td>
    <%= @details.sum :count %>
  </td>
  <td>
    <%= to_currency @details.sum("count * price") %>
  </td>
  <td>
  </td>
  <td>
  </td>
</tr>
