<% @list_items.each_with_index do |(key, value), i| %>
  <% pd = Product.find(key) %>
  <% dt = Detail.where(id: value) %>
  <tr>
    <td>
      <%= i + 1 %>
    </td>
    <td>
      <%= pd.name %>
    </td>
    <td>
      <%= dt.sum(:count) %>
    </td>
    <td>
      <%= to_currency dt.sum("count * price") %>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan="2">
    TOTAL
  </td>
  <td>
    <%= @bill.total_count %>
  </td>
  <td>
    <%= to_currency @bill.total_money %>
  </td>
</tr>
