<%= form_for @bill, url: {controller: "bills", action: action} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="col-md-12">
    <div class="form-group">
      <% if current_user.vip? %>
        <%= f.label :to_user_id, "For user" %>
        <%= f.collection_select :to_user_id, for_user_ctv, :last, :first, {include_blank: false}, {class: "form-control chosen"} %>
      <% else %>
        <%= f.label :to_user_id, "Form user" %>
        <%= f.collection_select :from_user_id, form_user_vip(@bill.from_user_id), :last, :first, {include_blank: false}, {class: "form-control chosen"} %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :description, "description" %>
      <%= f.text_area :description, placeholder: "Description", class: "form-control" %>
    </div>
    <div class="lst-bills">
      <table class="table table-bordered table-striped" id="tbl_pw_bill">
          <thead>
            <tr>
              <th>STT</th>
              <th>Hàng hóa</th>
              <th>Số lượng</th>
              <th><%= current_user.vip? ? "Giá bán" : "Giá nhập" %></th>
              <th>hành động</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>
    <div class="box-footer">
      <%= link_to "Back", current_user.vip? ? bills_path : select_from_user_path, class: "btn btn-default" %>
      <%= f.button :submit, class: "btn btn-primary float-right" %>
    </div>
  </div>
<% end %>

<p class="text-danger">Select product in your warehouse for bill</p>
<hr>
<div class="col-md-12 row">
  <% @pws.each do |pw| %>
    <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
      <label class="image-checkbox">
        <%= image_tag  pw.product.get_thumb_image.image.url, class: "img-responsive", title: "#{pw.product.name} - *#{pw.count}", tooltip_title: "#{pw.product.name} - *#{pw.count}", data: {toggle: "tooltip", placement: "bottom", price: pw.price_sale} %>
        <input type="checkbox" name="image[]" value="" data-id="<%= "bill-#{pw.id}" %>" data-name="<%= pw.product.name %>" />
        <i class="fa fa-check hidden"></i>
      </label>
    </div>
  <% end %>
</div>
