<% bills.each do |b| %>
  <tr>
    <td>
      <%= b.bill_code %>
    </td>
    <td>
      <%= current_user.vip? ? b.to_user.name : b.from_user.name %>
    </td>
    <td>
      <%= b.total_count %>
    </td>
    <td>
      <%= to_currency b.total_money %>
    </td>
    <td>
      <%= b.description %>
    </td>
    <td>
      <%= status_confirmed b.confirmed %>
    </td>
    <td>
      <%= b.created_at.localtime.strftime("%Y/%m/%d  %H:%M:%S") %>
    </td>
    <td>
      <%= render "action", bill: b %>
    </td>
  </tr>
<% end %>
