<style>
  body {
    color: red;
  }

  hr {
    border-top: 1px solid red;
  }

  .box-report {
    border-color: red;
    border-width: 1px;
    border-style: solid;
  }

  .super-body {
    color: red;
  }

  .image-header {
    width: 100px;
    height: 100px;
    padding-top: 10px !important;
    padding-left: 10px !important;
  }

  .title-1 {
    font-size: 20px;
    font-weight: bold;
  }

  .title-2 {
    font-size: 15px;
  }

  .date-report {
    font-size: 18px;
  }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
  .row
  {
    display: table;
    width: 100%;
    /* border-spacing: 10px; */
  }
  .column
  {
    display: table-cell;
  }

  .text-center {
    text-align: center;
    vertical-align: middle;
  }

  .box-mst {
    vertical-align: top;
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px !important;
    padding-right: 10px !important;
  }

  p {
    line-height: 0.5;
  }

  table {
    font: 12px;
    width:100%;
    border-collapse:collapse;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    border:thin solid #d3d3d3;
  }

  table, th, td {
    border: 1px solid red;
  }

  .td-text {
    text-align: right;
    padding-right: 10px;
    border-left: 0px solid white;
    border-right: 0px solid white;
  }

  .footer-left {
    text-align:center;
    text-transform:uppercase;
    padding-top:24px;
    position:relative;
    height: 150px;
    width:30%;
    float:left;
    font-size: 12px;
    bottom:1px;
  }

  .footer-right {
    text-align:center;
    text-transform:uppercase;
    padding-top:24px;
    position:relative;
    height: 150px;
    width:30%;
    font-size: 12px;
    float:right;
    bottom:1px;
  }

  .footer-center {
    text-align:center;
    text-transform:uppercase;
    padding-top:24px;
    position:relative;
    height: 150px;
    width:40%;
    font-size: 12px;
    float:left;
    bottom:1px;
  }
</style>

<div class="box-report">
  <div class="row">
    <div class="column">
      <%= image_tag asset_path('kotviet.png'), class: "image-header" %>
    </div>
    <div class="column text-center">
      <span class="title-1">HÓA ĐƠN</span>
      <br/>
      <span class="title-1">GIÁ TRỊ GIA TĂNG</span>
      <br/>
      <span class="title-2">Liên 2:Giao khách hàng</span>
      <br/>
      <span class="date-report"><%= today_to_string %></span>
    </div>
    <div class="column title-1 box-mst">
      <div class="">
        <span>Mấu số: 01 GTKT-3LL</span>
        <br/>
        <span><%= @bill.bill_code %></span>
        <br/>
        <span>0049519</span>
      </div>
    </div>
  </div>

  <hr>
  <p>Đơn vị bán hàng: <%= @bill.from_user.name %></p>
  <p>Địa chỉ:   <%= @bill.from_user.adress %></p>
  <p>Số tài khoản: 1954 7542 9874</p>
  <p>Điện thoại:<%= @bill.from_user.phone %></p>
  <p>MST: <%= "0100109106" %></p>

  <hr>
  <p>Họ tên người mua hàng: <%= @bill.to_user.name %></p>
  <p>Tên đơn vị:</p>
  <p>Địa chỉ:<%= @bill.to_user.adress %></p>
  <p>Điện thoại:<%= @bill.to_user.phone %></p>
  <p>Số tài khoản:</p>
  <p>Hình thức thanh toán:</p>
  <p>MST: <%= "0102688628" %></p>

  <table>
    <thead>
      <tr>
        <th width="5%">STT</th>
        <th width="40%">Tên Hàng Hóa, dịch vụ</th>
        <th width="8%">Đơn vị tính</th>
        <th width="7%">Số Lượng</th>
        <th width="20%">Đơn giá</th>
        <th width="20%">Thành tiền</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>1</th>
        <th>2</th>
        <th>3=1X2</th>
      </tr>
      <% @list_items.each_with_index do |(key, value), i| %>
        <% pd = Product.find(key) %>
        <% dt = Detail.where(id: value) %>
        <tr>
          <td>
            <%= i + 1 %>
          </td>
          <td>
            <%= pd.name %>
          </td>
          <td>cái</td>
          <td>
            <%= dt.sum(:count) %>
          </td>
          <td>
            <%= dt.last.price %>
          </td>
          <td>
            <%= to_currency dt.sum("count * price") %>
          </td>
        </tr>
      <% end %>
      <tr>
        <table>
          <tbody>
            <tr>
              <td class="td-text"></td>
              <td class="td-text">Cộng tiền hàng: </td>
              <td class="td-text"><%= to_currency @bill.total_money %></td>
            </tr>
            <tr>
              <td class="td-text">Thuế suất GTGT: 10%</td>
              <td class="td-text">Cộng tiền hàng: </td>
              <td class="td-text"><%= to_currency @bill.total_money*0.1 %></td>
            </tr>
            <tr>
              <td class="td-text"></td>
              <td class="td-text">Tổng cộng tiền thành toán: </td>
              <td class="td-text"><%= to_currency @bill.total_money + @bill.total_money*0.1 %></td>
            </tr>
            <tr>
              <td class="td-text">Số tiền viết bằng chữ: </td>
              <td class="td-text" colspan="2" style="text-align: left; padding-left:20px;"></td>
            </tr>
          </tbody>
        </table>
      </tr>
    </tbody>
  </table>

  <div class="footer-left">
    Người mua hàng<br/>
    <span style="font-style: italic; font-size: 8pt;">(Ký và ghi rõ họ tên)</span>
  </div>
  <div class="footer-center">
    Người bán hàng<br/>
    <span style="font-style: italic; font-size: 8pt;">(Ký và ghi rõ họ tên)</span>
  </div>
  <div class="footer-right">
    Trưởng đơn vị<br/>
    <span style="font-style: italic; font-size: 8pt;">(Ký và ghi rõ họ tên)</span>
  </div>
</div>
