<h2>
  <% if action == "index" %>
    <%= "Loại hàng hóa" %>
  <% elsif action == "new" %>
    <%= link_to "Loại hàng hóa", admin_categories_path %> > <%= "Thêm mới" %>
  <% elsif action == "edit" %>
    <%= link_to "Loại hàng hóa", admin_categories_path %> > <%= "Chỉnh sửa" %>
  <% end %>
</h2>
