<% products.each do |p| %>
  <tr>
    <td>
      <%= link_to p.id, admin_product_path(id: p), method: :GET, data: {toggle: "modal", target: "#modal-admin"}, remote: true %>
    </td>
    <td>
      <%= p.category.name %>
    </td>
    <td>
      <%= p.name %>
    </td>
    <td>
      <%= render "products/tag", tags: p.tag, status: "asdas" %>
    </td>
    <td>
      <% p.images.each do |img| %>
        <div class="form-group mblock">
          <span class="btn destroy-image" id="img-<%= img.id %>">
            <i class="fa fa-times"></i>
          </span>
          <%= image_tag img.image.thumb.url, class: "img-thumb-size" %>
        </div>
      <% end %>
    </td>
    <td>
      <%= render "action", product: p %>
    </td>
  </tr>
<% end %>
