<h2>
  <% if action == "index" %>
    <%= "Kho hàng" %>
  <% elsif action == "new" %>
    <%= link_to "Kho hàng", admin_products_path %> > <%= "Thêm mới sản phẩm" %>
  <% elsif action == "show" %>
    <%= link_to "Kho hàng", admin_products_path %> > <%= "Hiển thị" %>
  <% elsif action == "edit" %>
    <%= link_to "Kho hàng", admin_products_path %> > <%= "Chỉnh sửa sản phẩm" %>
  <% end %>
</h2>
