<%= form_for @user, url: {controller: "users", action: action} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="box-body">
    <div class="form-group">
      <%= f.label :role, "role" %>
      <%= f.collection_select :role, role_selected, :last, :first,
          {include_blank: false}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <% if action == "create" %>
        <%= f.text_field :email, placeholder: "Email", class: "form-control", required: true %>
      <% else %>
        <%= f.text_field :email, placeholder: "Email", class: "form-control", required: true, readonly: true %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :phone, "Phone" %>
      <% if action == "create" %>
        <%= f.text_field :phone, placeholder: "Phone", class: "form-control", required: true %>
      <% else %>
        <%= f.text_field :phone, placeholder: "Phone", class: "form-control", required: true, readonly: true %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, placeholder: "name", class: "form-control", required: true %>
    </div>
    <% if action == "update" %>
      <div class="form-group">
        <%= f.label :get_user_code, "#{@user.get_user_code}" %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :gender, "Gender" %>
      <%= f.collection_select :gender, gender_selected, :last, :first,
          {include_blank: false}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :adress, "adress" %>
      <%= f.text_area :adress, placeholder: "adress", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :birth, "birth" %>
      <%= f.text_field :birth, placeholder: "birth", class: "input-datepiker form-control", readonly: true %>
    </div>
    <div class="form-group d-flex justify-content-center">
      <% if action == "create" %>
        <div class="change-image">
          <img id="img-prev" src="#" class="hidden image">
          <%= image_tag "avatar.jpg", class: "image img-avatar"%>
          <div class="middle">
            <%= f.label :image, "Upload", class: "btn btn-success" %>
            <%= f.file_field :image, class: "hidden" %>
          </div>
        </div>
      <% else %>
          <%= image_tag @user.get_avatar, class: "img-thumb-size" %>
      <% end %>
    </div>
  </div>
  <div class="box-footer">
    <%= link_to "Back", admin_users_path, class: "btn btn-default" %>
    <%= f.button :submit, class: "btn btn-primary float-right" %>
  </div>
<% end %>
