<h2>
  <% if action == "index" %>
    <%= t(".title") %>
  <% elsif action == "new" %>
    <%= link_to t(".title"), admin_users_path %> > <%= t(".new_title") %>
  <% elsif action == "edit" %>
    <%= link_to t(".title"), admin_users_path %> > <%= t(".edit_title") %>
  <% end %>
</h2>
