<div class="col-md-6">
  <p><%= pw.stop_providing ? "Ngừng cung cấp" : "Tiếp tục cung cấp" %></p>
</div>
<div class="col-md-6">
  <p>Số lượng trong kho: <%= pw.count %></p>
</div>
<div class="col-md-6">
  <p>Giá nhập: <%= pw.price_origin %> VNĐ</p>
</div>
<div class="col-md-6">
  <p>Giá bán: <%= pw.price_sale %> VNĐ</p>
</div>
<div class="col-md-6">
  <p>Ngày sản xuất: <%= pw.mfg %></p>
</div>
<div class="col-md-6">
  <p>Ngày hết hạn: <%= pw.exp %></p>
</div>
