<div class="container">

  <h1 class="my-4">Product
    <small>
      <%= @pw.product.name %>
    </small>
  </h1>

  <div class="row">
    <div class="col-md-6">
      <div>
        <%= render "thumb_images", images: @pw.product.images %>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="my-3">thong tin</h3>
      <div class="row">
        <div class="col-md-6">
          <p><%= stop_providing @pw.stop_providing %></p>
        </div>
        <div class="col-md-12">
          <p>Giá bán: <%= to_currency @pw.price_sale %></p>
        </div>
        <div class="col-md-6">
          <p>Ngày sản xuất: <%= @pw.mfg.localtime.strftime("%Y/%m/%d") if @pw.mfg %></p>
        </div>
        <div class="col-md-6">
          <p>Ngày hết hạn: <%= @pw.exp.localtime.strftime("%Y/%m/%d") if @pw.exp %></p>
        </div>
      </div>
      <h3 class="my-3">Tags</h3>
      <div class="row">
        <%= render "products/tag", tags: @pw.product.tag, status: "show" %>
      </div>
    </div>
    <div class="col-md-12">
      <strong>
        <h3 class="my-3">Description</h3>
      </strong>
      <div class="box-description">
        <%= markdown @pw.product.description %>
      </div>
    </div>
  </div>
</div>
