<% products.each_with_index do |p, i| %>
  <% pws = @warehouse.product_warehouses.where(product_id: p.id).order(created_at: :desc) %>
  <tr data-toggle="collapse" data-target='<%= "#p-#{p.id}" %>'' class="accordion-toggle">
    <td><button class="btn btn-info"><span class="fa fa-eye"></span></button></td>
    <td>
      <%= p.name %>
    </td>
    <td>
      <%= stop_providing pws.last.stop_providing %>
    </td>
    <td>
      <%= pws.sum(:count) %>
    </td>
    <td>
      <%= to_currency pws.sum("count * price_origin") %>
    </td>
  </tr>
  <tr>
    <td colspan="12" class="hiddenRow">
      <div class="accordian-body collapse" id="<%= "p-#{p.id}" %>">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Ngày nhập</th>
              <th>Số lượng</th>
              <th>Giá nhập</th>
              <th>Tổng tiền</th>
              <th>Chỉnh sửa</th>
            </tr>
          </thead>
            <tbody>
              <% pws.each do |pw| %>
                <tr>
                  <td>
                    <%= pw.created_at.localtime.strftime("%Y/%m/%d %Hh:%Mp:%S") %>
                  </td>
                  <td>
                    <%= pw.count %>
                  </td>
                  <td>
                    <%= to_currency pw.price_origin %>
                  </td>
                  <td>
                    <%= to_currency pw.count * pw.price_origin %>
                  </td>
                  <td>
                    <a href="#" class="btn btn-danger btn-sm">
                      <i class="fa fa-cog"></i>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </td>
  </tr>
<% end %>
