<% products.each_with_index do |p, i| %>
  <% pws = @warehouse.product_warehouses.where(product_id: p.id).order(created_at: :desc) %>
  <tr data-toggle="collapse" data-target='<%= "#p-#{p.id}" %>'' class="accordion-toggle">
    <td>
      <%= stt_index params[:page], 5, i %>
    </td>
    <td>
      <%= p.name %>
    </td>
    <td>
      <%= pws.sum(:count) %>
    </td>
    <td>
      <%= to_currency pws.sum("count * price_origin") %>
    </td>
    <td>
      <%= stop_providing pws.last.stop_providing %>
    </td>
    <td>
        <%= link_to providing_status_path(product_id: p), class: pws.last.stop_providing ? "btn btn-info btn-sm" : "btn btn-danger btn-sm", method: :post do %>
          <% if pws.last.stop_providing %>
            <i class="fa fa-circle-o-notch"></i>
          <% else %>
            <i class="fa fa-ban"></i>
          <% end %>
        <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="12" class="hiddenRow">
      <div class="accordian-body collapse" id="<%= "p-#{p.id}" %>">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Ngày nhập</th>
              <th>Số lượng</th>
              <th>Giá nhập</th>
              <th>Tổng tiền</th>
              <th>Chỉnh sửa</th>
            </tr>
          </thead>
            <tbody>
              <% pws.each do |pw| %>
                <tr>
                  <td>
                    <%= pw.created_at.localtime.strftime("%Y/%m/%d %Hh:%Mp:%S") %>
                  </td>
                  <td>
                    <%= pw.count %>
                  </td>
                  <td>
                    <%= to_currency pw.price_origin %>
                  </td>
                  <td>
                    <%= to_currency pw.count * pw.price_origin %>
                  </td>
                  <td>
                    <%= link_to edit_product_warehouse_path(id: pw), class: "btn btn-success btn-sm" do %>
                      <i class="fa fa-cog"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </td>
  </tr>
<% end %>
