<%= form_for @sell, url: {controller: "sells", action: action} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :description, "description" %>
      <%= f.text_area :description, placeholder: "Description", class: "form-control" %>
    </div>
    <div class="lst-sells">
      <table class="table table-bordered table-striped" id="tbl_pw_bill">
          <thead>
            <tr>
              <th>STT</th>
              <th>Hàng hóa</th>
              <th>Số lượng</th>
              <th>Giá bán</th>
              <th>hành động</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>
    <div class="box-footer">
      <%= link_to "Back", sells_path, class: "btn btn-default" %>
      <%= f.button :submit, class: "btn btn-primary float-right" %>
    </div>
  </div>
<% end %>

<p class="text-danger">Select product in your warehouse for sell</p>
<hr>
<div class="col-md-12 row">
  <% @products.each do |product| %>
    <% pws = @pws.where(product_id: product)%>
    <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
      <label class="image-checkbox">
        <%= image_tag  product.get_thumb_image.image.url, class: "img-responsive", title: "#{product.name} - *#{pws.sum(:count)}",
          tooltip_title: "#{product.name} - *#{pws.sum(:count)}", data: {toggle: "tooltip", placement: "bottom", price: pws.last.price_sale} %>
        <input type="checkbox" name="image[]" value="" data-id="<%= "bill-#{product.id}" %>" data-name="<%= product.name %>" />
        <i class="fa fa-check hidden"></i>
      </label>
    </div>
  <% end %>
</div>
