<h2>
  <% if action == "index" %>
    <%= "Danh sách hóa đơn bán" %>
  <% elsif action == "new" %>
    <%= link_to "Danh sách hóa đơn bán", sells_path %> > <%= "Bán Hàng" %>
  <% elsif action == "show" %>
    <%= link_to "Danh sách hóa đơn bán", sells_path %> > <%= "Chi tiết hóa đơn bán" %>
  <% end %>
</h2>
