<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo">
    <%= link_to image_tag("icon.png", border: 0), current_user.admin? ? admin_path : root_path , class: 'simple-text logo-mini' %>
    <%= link_to "Home", admin_path, class: "simple-text logo-normal" %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <% if current_user.admin? %>
        <li class="<%= slide_active "admin" %>">
          <%= link_to admin_path do %>
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          <% end %>
        </li>
        <li class="<%= slide_active "users" %>">
          <%= link_to admin_users_path do %>
            <i class="nc-icon nc-single-02"></i>
            <p>User</p>
          <% end %>
        </li>
        <li class="<%= slide_active "categories" %>">
          <%= link_to admin_categories_path do %>
            <i class="nc-icon nc-box"></i>
            <p>Category</p>
          <% end %>
        </li>
        <li class="<%= slide_active "products" %>">
          <%= link_to admin_products_path do %>
            <i class="nc-icon nc-box-2"></i>
            <p>Product</p>
          <% end %>
        </li>
      <% else %>
        <li class="<%= slide_active "warehouses" %>">
          <%= link_to warehouses_path do %>
            <i class="nc-icon nc-box-2"></i>
            <p>Warehouses</p>
          <% end %>
        </li>
        <li>
          Xuất hàng
        </li>
        <li>
          Quản lý bán hàng
          hóa đơn
          lịch sử bán
          những người mua
          biểu đồ ở trang chính
        </li>
        <li>
          Kho hàng -> Sinh barcode
        </li>
      <% end %>
    </ul>
  </div>
</div>
