<!DOCTYPE html>
<html>
  <head>
    <title>GraduationThesis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application_dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application_dashboard', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="my-notify"></div>
    <div class="wrapper">
      <%= render "layouts/admin/slidebar" %>
      <div class="main-panel">
        <%= render "layouts/admin/admin_header" %>
        <div class="content">
          <% flash.each do |message_type, message| %>
            <div class="time-out alert alert-<%= "#{type_flash message_type}" %> alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h4><i class="icon fa fa-warning"></i> Alert!</h4>
              <%= message %>
            </div>
          <% end %>
          <%= yield %>
        </div>
        <%= render "layouts/admin/admin_footer" %>
        <%= render "layouts/modal" %>
      </div>
    </div>
  </body>
</html>
